name: Docker

on:
  push:
    branches:
      - main

jobs:
  build-and-push-en:
    name: Deploy wikifundi-en
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and push wikifundi-en
        uses: openzim/docker-publish-action@v5
        with:
          image-name: offspot/wikifundi-en
          context: wikifundi-en
          on-master: latest
          restrict-to: offspot/wikifundi
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}

  build-and-push-fr:
    name: Deploy wikifundi-fr
    needs: build-and-push-en
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and push wikifundi-fr
        uses: openzim/docker-publish-action@v5
        with:
          image-name: offspot/wikifundi-fr
          context: wikifundi-fr
          on-master: latest
          restrict-to: offspot/wikifundi
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}

  build-and-push-es:
    name: Deploy wikifundi-es
    needs: build-and-push-en
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build and push wikifundi-es
        uses: openzim/docker-publish-action@v5
        with:
          image-name: offspot/wikifundi-es
          context: wikifundi-es
          on-master: latest
          restrict-to: offspot/wikifundi
          registries: ghcr.io
          credentials:
            GHCRIO_USERNAME=${{ secrets.GHCR_USERNAME }}
            GHCRIO_TOKEN=${{ secrets.GHCR_TOKEN }}
